{% extends 'admin/adminLayout.njk' %}

{% block head %}
    <title>Admin: Detalhes - Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="title" id="recipe">
        <h2>Receita:
            {{ recipe.title }}
        </h2>

        <a href="#">Editar receita</a>
    </div>

    <div class="detailed-recipe">
        <div class="image-container">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        </div>
        <div class="header-information">
            <h1>{{ recipe.title }}</h1>
            <span>
                <p>{{ recipe.author }}</p>
            </span>
        </div>
        <div class="information">
            <div class="ingredients">
                <h2>Ingredientes</h2>
                {% for ingredient in recipe.ingredients %}
                    <p>- {{ ingredient }}</p>
                {% endfor %}
            </div>
            <div class="prepare">
                <h2>Modo de preparo</h2>
                {% for prepare in recipe.preparation %}
                    <p>- {{ prepare }}</p>
                {% endfor %}
            </div>
            <div class="add-info">
                <h2>Informações adicionais</h2>
                <p>{{ recipe.information }}</p>
            </div>
        </div>

    </div>
{% endblock content %}