{% extends 'admin/adminLayout.njk' %}

{% block head %}
    <title>Admin: Listagem - Foodfy</title>
{% endblock head %}

{% block content %}
<div class="title">
    <h2>Gerenciar receitas</h2>
</div>

<section class="recipes">
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
    <div class="recipe">
        <div class="image-container">
            <img src="../assets/burger.png" alt="triplo burguer bacon">
        </div>
        <div class="information">
            <h3>Triplo burguer bacon</h3>
            <span><p>por Jorge Relato</p></span>
            <a href="#">Visualizar</a>
        </div>
    </div>
</section>
{% endblock content %}