{% extends 'admin/adminLayout.njk' %}

{% block head %}
    <title>Admin: Listagem - Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="title">
        <h2>Gerenciar receitas</h2>
    </div>

    <div class="admin-cards">
        <section class="recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="image-container">
                        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    </div>
                    <div class="information">
                        <h3>{{ recipe.title }}</h3>
                        <span>
                            <p>{{ recipe.author }}</p>
                        </span>
                        <a href="#">Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock content %}