<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>

    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <header>
        <img src="/Assets/logo.png" alt="Logo Foodfy">
        <div class="links">
            <a href="">Sobre</a>
            <a href="">Receitas</a>
        </div>

        <div class="background-image">
            <p>
                <strong>As melhores receitas</strong>
                Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.
            </p>
            <img src="/assets/chef.png" alt="Logo Chef">
        </div>

        <div class="content">
            <span>Mais acessadas</span>

        </div>


    </header>
</body>

</html>