{% extends 'layout.njk' %}

{% block head %}
    <title>Foodfy - Home</title>

    <link rel="stylesheet" href="/styles/home.css">
{% endblock head %}

{% block content %}
    <div class="background-image">
        <p>
            <strong>As melhores receitas</strong>
            Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>

        <img src="/assets/chef.png" alt="chef de cozinha">
    </div>

    <div class="content">

        <h3>Mais acessadas</h3>

        <section class="cards">
            {% for recipe in recipes %}
                <div class="card"> 
                    <div class="card__image-container">
                        <img src="{{recipe.image}}" alt="foto de {{recipe.title}}">
                    </div>
                    <div class="card__content">
                        <p class="food">{{recipe.title}}</p>
                    </div>
                    <div class="card__info">
                        <p>{{recipe.author}}</p>
                    </div>
                </div>
            {% endfor %}

        </section>
    </div>

    <script src="/scripts/scripts.js"></script>
{% endblock content %}