<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

        <link rel="stylesheet" href="/styles/styles.css">
    </head>

    <body>
        <header>
            <a href="home.html"><img src="/Assets/logo.png" alt="logo Foodfy"></a>

            <div class="links">
                <a href="about.html">Sobre</a>
                <a href="recipes.html">Receitas</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>
    </body>

</html>