@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

:root {
    --rocketseat-color: #6558C3;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

body header {
    background-color: black;
    width: 100%;
    height: 80px;
}

body header #logo {
    width: 940px;
    margin: 0 auto;
}

body header #logo a {
    display: contents;
}

body header #logo a img {
    margin: 25px auto;
    width: 91px;
    height: 27px;
}

/*=== INDEX ===*/

.title {
    width: 940px;
    margin: 0 auto;
}

.title h2 {
    margin-top: 50px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.recipes {
    display: grid;
    grid-template-columns: 480px 1fr;
    margin-top: 30px;
    margin-left: 230px;
    row-gap: 20px;
}

.recipes .recipe {
    display: grid;
    grid-template-columns: 172px 1fr;
}

.recipe .image-container img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.information {
    margin-left: 20px;
}

.information h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
}

.information span p {
    margin-top: 5px;
    color: #777;
    font-size: 14px;
    line-height: 16px;
}

.information a {
    text-decoration: none;
    color: var(--rocketseat-color);
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

/*=== DETAILS ===*/
.title#recipe {
    max-width: 940px;
    position: relative;
}

.title#recipe h2 {
    display: inline-block;
    align-items: center;
}

.title#recipe a {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--rocketseat-color);
    padding: 9px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.detailed-recipe .image-container {
    text-align: center;
}

.detailed-recipe .image-container img {
    max-width: 940px;
    height: 280px;
    margin-top: 24px;
    border-radius: 15px;
}

.header-information {
    text-align: center;
    margin-top: 50px;
}

.header-information h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
}