.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    height: 202px;
    width: 300px;
    margin-bottom: 10px;
}

.card__image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card__image-container img:hover {
    cursor: pointer;
}

.card__content {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.card__info {
    font-size: 14px;
    color: #777777;
}