ul {
    margin-left: 15px;
}

.card__image-container img {
    border-radius: 15px;
}

.food {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #111111;
}

.card__info p {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}

.main {
    display: flex;
    align-items: center;
    
}

.ingredients h3 {
    margin-top: 50px;
}

.main a {
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    color: #999999;
}

.main a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.preparation h3,
.information h3 {
    margin-top: 39px;
}

.hide {
    display: none;
}