@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #111111;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
}

header {
    width: 940px;
    margin: 0  auto;
    display: block;
}

header a img {
    width: 94px;
    height: 32px;
    margin-top: 32px;   
}

.links {
    display: inline-flex;
    margin-left: 105px;
    font-size: 16px;
    color: #111111;
    position: absolute;
    top: 38px;
}

.links a {
    margin: 0 15px;
}

.links a:hover {
    font-weight: bold;
}

.content {
    width: 940px;
    margin: 50px auto;
    align-content: center;
    align-self: center;
}

.content h3 {
    margin-bottom: 20px;
}

footer {
    background-color: #EEEEEE;
    height: 62px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;
}