@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #111111;
}

header img {
    width: 94px;
    height: 32px;
    margin-top: 32px;   
    margin-left: 200px;
    margin-bottom: 30px;
}

.links {
    display: inline-flex;
    margin-left: 105px;
    font-size: 16px;
    color: #111111;
    position: absolute;
    top: 38px;
    margin-bottom: 36px;
}

.links a {
    margin: 0 15px;
}

.background-image {
    background-color: #FBDFDB;
    width: 940px;
    height: 366px;
    border-radius: 30px;
    margin: 0 200px;
    display: inline-table;
}

.background-image p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    max-width: 316px;
    padding-left: 60px;
    padding-top: 117px;
    margin: auto 0;
    display: inline-block;
}

.background-image strong {
    display: block;
    font-size: 32px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 10px;
}

.background-image img {
    width: 216px;
    height: 300px;
    padding-right: 100px;
    margin-top: 66px;
    margin-bottom: 0;
    float: right;
}

.content {
    max-width: 940px;
    margin: 0 200px;
    align-content: center;
    margin-bottom: 50px;
}

.content h3 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 20px;
    margin-top: 50px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    height: 202px;
    width: 300px;
    margin-bottom: 10px;
}

.card__image-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.card__content {
    font-size: 18px;
    color: #111111;
    margin-bottom: 5px;
}

.card__info {
    font-size: 14px;
    color: #777777;
}

footer {
    background-color: #EEEEEE;
    height: 62px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding-top: 23px;
}